.footer-top{
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: $secondary-color;
    a{
        color: $color-text;
        &:hover{
            color: $primary-color;
        }
    }
}