.catalogo{
    background-color: $secondary-color;
}

.card{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,  rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    &-body{
        padding: 25px;
        margin-top: -15px;
        font-weight: $fontw-navbar;
    }
    &:hover{
        background-color: $primary-color;
        transform: scale(1.05);
    }
}

